.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: #1ED760;
}
.title{
    font-size: 52px;
    font-weight: 700;
}
p{
    font-size: 20px;
    font-weight: 700;
}
.btn_container{
    display: flex;
    border: 2px solid #1ED760;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
}
.btn_apple {
  width: 50px;
  height: 50px;
  background-image: url('/a.png');
  background-color: black;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3 ease;
}

.btn_apple:hover {
    background-image: url('/aHover.png');
    transform: scale(1.7)
}
.btn_google {
  width: 50px;
  height: 50px;
  background-image: url('/g.png');
  background-color: black;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3 ease;
}

.btn_google:hover {
    background-image: url('/gHover.png');
    transform: scale(1.7)
}
.btn_twitter {
  width: 50px;
  height: 50px;
  background-image: url('/x.png');
  background-color: black;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3 ease;
}

.btn_twitter:hover {
    background-image: url('/xHover.png');
    transform: scale(1.7)
}
